@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css');

body {
  margin-bottom: 1rem;
}

.mb-l {
  margin-bottom: 4rem;
}

.mt-l {
  margin-top: 4rem;
}

.footer {
  background-color: #f8f9fa;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.not-found {
  font-size: 15rem;
  text-align: center;
}

  .not-found p {
    font-size: 5rem;
    text-align: center;
    color: #000;
  }

.gitHub {
  color: #000;
  font-size: 1.2rem;
}

.mt-l {
  margin-top: 4rem;
}

.display-none {
  display: none;
}

.imageResponsive {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
